@using Microsoft.AspNetCore.Mvc.Localization
@using ProductManagement.Localization
@inject IHtmlLocalizer<ProductManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
